.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #ccc;
    transform: translateX(-50%);
}
.timeline-item {
    position: relative;
    margin: 50px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}
.timeline-item:before {
    content: '';
    position: absolute;
    top: 30px;
    left: -6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
}
.timeline-item:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -16px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #f9f9f9;
    transform: translateY(-50%);
}
.timeline-item:last-child:after {
    display: none;
}
.timeline-item-date {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}